
input{
    font-size:1rem;
}

body{
    background-color: aqua;
    color:#948b8b;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: black;
    border-right: black;
}

.carros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .25rem;
    margin-top: 1rem;

}

.card {
    border: 1px solid #000000;
    background-color: #f7f7f7;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > body {
    font-size: .8rem;
    color: #948b8b
}

.hide {
    display: none;
}

.botao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
    background-color: #e22222da;
    color: #ffffff;
    letter-spacing: .5rem;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
    text-decoration: none;
}

.bcars {
    display: flex;

    color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.text-box {
    display: flex;
    text-align: left;
    justify-content: left;
    border: 1px solid #000;
    
    padding: 150px; /* Increased from 10px */
    margin: 10px; /* Increased from 10px */
    background-color: #f7f7f7ce;
}

.imgBox {
    display: flex;
    justify-content: flex-start; /* Updated from left */
    align-items: flex-start; /* Updated from top */
    height: auto; /* Updated from 50px */
    width: 75%;
    border: 1px solid #000;
    padding: 150px; /* Increased from 10px */
    margin: auto; /* Updated from 10px to auto */
    background-color: #f7f7f7d0;
}

.dropdown button {
    color: black;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: rgb(2, 2, 2);
    text-decoration: none;

}

.dropdown .content{
    display: none;
    position: absolute;
    letter-spacing: 1px;
    background-color:#faf3f1;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;

}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: #f7f7f7;
}

.dropdown a:hover{
    background-color: #c59898;
}

html{
    scroll-behavior: smooth;
}

.topo {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: .5rem;
    padding: .2rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.topo span{
    color: black;
    font-size: 1.5rem;
    transition: 0.2s ease-out;
}

.topo:hover{
    background-color: #c4bcbc;
}

.topo:hover span{
    transform: translateY(-3px);
}

